.hero_section {
  height: 80vh;
  min-height: 568px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  
  h1, 
  p {
    margin-bottom: 24px;
  }

  h1 {
    font-size: 2.441rem;
    color: $footer-color;
  }

  p {
    max-width: 350px;
    margin: 0 auto;



&::after,
&::before {
  height: 100%;
  max-width: 350px;
        .u-btn-primary {
          margin-right: 24px;
  }
    width: 100%;
    content: '';
    display: block;
    position: absolute;
    background: url($pattern-image-path) 60% 60% no-repeat;
    opacity: 0.05;
    z-index: -1;
  }
  &::after {
    top: 50%;
    left: 55%;
  }
  &::before {
    top: -65%;
    left: -60%;
    transform: rotate(0);
  }
}

  .img_container {
    height: 225px;
    width: auto;
    margin-bottom: 60px;

    @media (max-width: 512px) {
      width: 90vw;
      height: auto;
    }
    
    img {
      height: 100%;
      width: auto;
      @media (max-width: 512px) {
        width: 100%;
        height: auto;
      }
    }
  }
}