// Normalize CSS

@import './normalize';

// Fonts

@import './fonts';

// Gird System
// NOTE : Add it Locally when about to uplaod the website as it will prevent
// pushing upcoming updates to the grid system to your website and keep the
// website running as it is expected

@import url('https://harshppatel.github.io/css-grid-system/build/main.min.css');
