.projects_section {
  .section_heading:not(:first-of-type) {
    padding-top: 40px;
  }
  .project_card {
    margin-bottom: 70px;
    @media (max-width: 400px) {
      margin-bottom: 0;
    }
  }
  @media (max-width: 912px) {
    .u-col-6 {
      grid-column-end: span 12;
    }
  }
  @media (max-width: 568px) {
    padding-bottom: 0;
  }
}
@media (max-width: 368px) {
  .project_card_list_container {
    margin-top: 1rem !important;
  }
}
