// Fluid Container
.u-fluid-container {
  width: 100%;
}

// Normal Container
.u-container {
  max-width: $container-width!important;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  @media (max-width: 568px) {
    width: 95%;
  }
}

// Row
.u-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  
  // Difefrent size columns
  @for $i from 1 to 13 {
    .u-col-#{$i} {
      grid-column-start: auto;
      grid-column-end: span #{$i};
    }
  }
}
