// Text Color
.u-text-primary {
  color: $primary-color!important;
}

// Margin Bottom
.u-mb-1 {
  margin-bottom: 1rem;
}
.u-mb-2 {
  margin-bottom: 2rem;
}

// Margin Top
.u-mt-1 {
  margin-top: 1rem;
}
.u-mt-2 {
  margin-top: 2rem;
}

// Font Weight
.u-bold {
  font-weight: bold;
}

// Backdrop
.u-backdrop {
  background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(85,85,85,0.57) 52%,rgba(0,0,0,0.85) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#d9000000',GradientType=0 ); /* IE6-9 */
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

// Text Align
.u-text-center {
  text-align: center;
}

// Capital
.u-capital {
  text-transform: uppercase;
}