.project_links_section {

  background-color: $background-color;
  padding-top: 70px;

  .u-container {
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      margin-right: 100px;
    }

    a:first-of-type {
      margin-right: 70px;
    }

    @media (max-width: 668px) {
      h3 {
        display: none;
      }
    }

    @media (max-width: 468px) {
      a:first-of-type {
        margin-right: 20px;
      }
    }
  }
}