.project_step_section {
  
  &.challenge_section {
    background-color: $background-color;
  }

  p {
    margin-bottom: 1rem;
  }

  @media (max-width: 768px) {
    .u-row {
      .u-col {
        grid-column-end: span 12;
      }
    }

    &.project_outcome_section h3 br {
      display: none!important;
    }
  }
}