* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $base-font;
}

body {
  &.noscroll {
    overflow: hidden;
  }
}

section {
  padding: 60px 0 70px;
  @media (max-width: 568px) {
    padding: 40px 0 50px;
  }
}

.section_heading {
  text-align: center;
  margin-bottom: 70px;
  @media (max-width: 568px) {
    margin-bottom: 40px;
  }
}