.contact_section {
  position: relative;
  overflow: hidden;
  z-index: 1;

  @media (max-width: 568px) {
    padding-bottom: 30px;
  }

  &::after,
  &::before {
    height: 100%;
    width: 100%;
    content: '';
    display: block;
    position: absolute;
    background: url($pattern-image-path) 60% 60% no-repeat;
    opacity: 0.05;
    z-index: -1;
  }

  &::after {
    top: 45%;
    left: 55%;
  }

  &::before {
    top: -45%;
    left: -55%;
  }

  .u-col-8 {
    grid-column: 3 / 11;

    @media (max-width: 912px) {
      grid-column: 1 / 13;
    }
  }

  p {
    margin-bottom: 2rem;

    @media (max-width: 568px) {
      margin-bottom: 1.5rem;
    }
  }
}