form.contact_form {
  margin-top: 24px;
  max-width: 350px;

  @media (max-width: 768px) {
    margin: 0 auto;
    text-align: left;
  }

  .form_group {
    margin-bottom: 1rem;

    &__button {
      text-align: right;
    }

    label,
    input,
    textarea {
      display: block;
      width: 100%;
      font-size: 16px;
      box-sizing: border-box;
      border-radius: 5px;
      box-shadow: none;
      outline: none;
      border: none;
    }

    .label_group {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      label {
        font-weight: bold;
      }

      p.error {
        font-size: 16px;
        margin-left: auto;
        font-weight: bold;
        color: $primary-color;
      }
    }

    input,
    textarea {
      padding: 0 16px;
      background-color: #fff;
      border: 1px solid $heading-color;
      color: $heading-color;
      &::placeholder {
        font-family: $base-font;
        color: rgba($heading-color, 0.85);
      }
      &:focus {
        box-shadow: $basic-shadow;
      }

      // Success State
      &.success {
        border-color: $success-color;
      }

      // Danger State
      &.danger {
        border-color: $primary-color;
        &::placeholder {
          color: $primary-color;
        }
      }
    }

    input {
      height: 40px;
    }

    textarea {
      padding: 10px 16px 0;
      height: 80px;
      resize: none;
    }
  }

  button.u-btn {
    min-width: initial;
    width: 125px !important;
    font-weight: 600 !important;
    margin-top: 12px;
    height: 35px;
    @media (max-width: 768px) {
      margin-top: 0;
    }
  }
}
