.hero_section {
  min-height: 568px;
  height: 85vh;
  overflow: hidden;
  text-align: left;

  @media (max-width: 768px) {
    .u-col-6 {
      &:last-of-type {
        display: none;
      }
      &:first-of-type {
        grid-column-end: span 13;
        text-align: center;
        p.kicker {
          margin-bottom: 1.25rem !important;
        }
      }
    }
  }

  @media (max-width: 400px) {
    height: initial;
    padding: 40px 0;
    min-height: initial;
  }

  &::before {
    top: initial;
    bottom: -70%;
    opacity: 0.075;
  }

  .u-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img_container {
    display: inline-block;
    height: 100%;
    max-height: 475px;
    max-width: 475px;

    img {
      height: 100%;
      width: auto;
      max-height: 475px;
      max-width: 475px;
    }
  }

  h1.special_heading {
    margin-bottom: 0;
    margin-top: -20px;
    @media (max-width: 600px) {
      > span {
        display: inline-block;
      }
    }
  }

  .u-link {
    text-decoration: none;
    font-weight: normal;
  }
}
