.social_links_section {
  position: relative;
  padding: 0;
  background: url($social-links-bg-image-path) center center no-repeat;
  background-size: cover;

  h2 {
    text-align: left;
  }

  .u-backdrop {
    z-index: 50;
    position: static;
    background-color: rgba(black, 0.5);
    padding: 100px 0;
    @media (max-width: 768px) {
      padding: 60px 0;
      .u-container {
        padding: 0 2rem;
      }
    }
  }

  .u-container {
    z-index: 100;
    @media (max-width: 400px) {
      padding: 0 0.5rem !important;
    }
  }

  .social_links_container {
    display: flex;
    align-items: center;
    margin-top: 60px;
    @media (max-width: 768px) {
      margin-top: 40px;
    }
    @media (max-width: 568px) {
      flex-wrap: wrap;
    }
  }
}
