// Colors
$white-color: #fff;
$black-color: #000;
$primary-color: #08708a;
$primary-dark-color: #56b1bf;
$secondary-color: #d73a31;
$success-color: #28a745;
$heading-color: #222;
$bg-color: #f7f7f7;
$font-color: $heading-color;

// Fonts
$heading-font: sans-serif;
$base-font: sans-serif;

// Images path
// $hero-bg: './../img/hero-bg.jpg';

// Shadows
$base-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
$dark-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);

// Other
// $navbar-height: 80px;
